/*===== PRODUCTS =====*/
.tab-buttons {
  display: flex;
  column-gap: 0.75rem;
  justify-content: center;
  margin-bottom: 2rem;
}
.tab-button {
  background-color: var(--color-main);
  color: var(--title-color);
  padding: 1rem 1.25rem 0.875rem;
  border-radius: 0.25rem;
  font-size: var(--small-font-size);
  font-weight: var(--weight-700);
  cursor: pointer;
}
.products-container {
  grid-template-columns: repeat(4, 1fr);

}
.product-item {
  border: 1px solid var(--border-color-alt);
  border-radius: 0.31rem;
  transition: all 0.2s var(--transition);
}
.product-banner {
  padding: 0.625rem 0.75rem 0.75rem;
  width: 300px;
}
.product-banner,
.product-images {
  position: relative;
}
.product-images {
  display: block;
  overflow: hidden;
  border-radius: 1.25rem;
}
.product-image {
  display: block;
  width: 300px;
}
.product-image.hover {
  position: absolute;
  top: 0;
  left: 0;
}
.product-actions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  column-gap: 0.5rem;
  transition: all 0.2s var(--transition);
}
.product-badge {
  position: absolute;
  left: 1.25rem;
  top: 1.25rem;
  background-color: var(--color-main);
  color: var(--body-color);
  padding: 0.25rem 0.625rem;
  border-radius: 2.5rem;
  font-size: var(--tiny-font-size);
  font-weight: var(--weight-600);
}
.product-content {
  padding: 0 1.25rem 1.125rem;
  position: relative;
}
.product-category {
  color: var(--text-color);
  font-size: var(--smaller-font-size);
}
.product-title {
  font-size: var(--normal-font-size);
  margin-block: 0.75rem 0.5rem;
}
.product-rating {
  color: hsl(42, 100%, 50%);
  font-size: var(--smaller-font-size);
  margin-bottom: 0.75rem;
}
.cart-button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  transition: all 0.3s var(--transition);
}
.action-button {
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--color-main);
  color: var(--text-color);
  font-size: var(--small-font-size);
  position: relative;
}
.action-button::before,
.action-button::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}
.action-button::before {
  content: "";
  top: -2px;
  border: 0.5rem solid transparent;
  border-top-color: var(--color-extra);
}
.action-button::after {
  content: attr(aria-label);
  bottom: 100%;
  background-color: var(--color-main);
  color: var(--body-color);
  font-size: var(--tiny-font-size);
  font-weight: var(--weight-600);
  white-space: nowrap;
  padding-inline: 0.625rem;
  border-radius: 0.25rem;
  line-height: 2.58;
}
.tab-button.active-tab {
  color: var(--text-color-light);
  background-color: var(--color-extra);
}
.tab-item:not(.active-tab) {
  display: none;
}
.flex {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.new-price {
  color: var(--color-prices);
  font-weight: var(--weight-600);
}
.old-price {
  color: var(--text-color);
  font-size: var(--small-font-size);
  text-decoration: line-through;
}
.product-price .new-price {
  font-size: var(--large-font-size);
  font-weight: var(--weight-700);
}
/*===== Product Hover =====*/
.product-image.hover,
.product-actions,
.action-button::before,
.action-button::after,
.product-item:hover .product-image.default {
  opacity: 0;
}
.product-item:hover .product-image.hover,
.product-item:hover .product-actions,
.action-button:hover::before,
.action-button:hover::after {
  opacity: 1;
}
.action-button:hover::before,
.action-button:hover::after {
  transform: translateX(-50%) translateY(-0.5rem);
}
.action-button:hover {
  background-color: var(--color-extra);
  border: none;
  color: var(--body-color);
}
.product-item:hover {
  box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.1);
}
.product-image {
  vertical-align: middle;
  transition: all 1.5s var(--transition);
}
.product-item:hover .product-image {
  transform: scale(1.1);
}
/*===== Product Badges Colors =====*/
.product-badge.light-pink {
  background-color: hsl(341, 100%, 73%);
}
.product-badge.light-green {
  background-color: hsl(155, 20%, 67%);
}
.product-badge.light-orange {
  background-color: hsl(24, 100%, 73%);
}
.product-badge.light-blue {
  background-color: hsl(202, 53%, 76%);
}
