/*===== SHOWCASE =====*/
.showcase-container {
    grid-template-columns: repeat(4, 1fr);
}
.showcase-wrapper .section-title {
    font-size: var(--normal-font-size);
    border-bottom: 1px solid var(--border-color-alt);
    padding-bottom: 0.75rem;
    margin-bottom: 2rem;
    position: relative;
}
.showcase-wrapper .section-title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1.3px;
    width: 50px;
    height: 2px;
    background-color: var(--color-main);
}
.showcase-item {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.showcase-item:not(:last-child) {
    margin-bottom: 1.5rem;
}
.showcase-img {
    width: 86px;
}
.showcase-content {
    width: calc(100% - 110px);
}
.showcase-title {
    font-size: var(--small-font-size);
    font-weight: var(--weight-500);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
}